@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg {
  background: url('./assets/Background.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 8rem;
}
