.bg {
  background: url('../../assets/Background.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh;
  width: 40%;
  border-radius: 2px;
  padding-left: 6rem;
}

.brand {
  padding-top: 200px;
}

.brand-desc {
  padding-left: 1rem;
}

.main-search {
  margin-top: 2rem;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 0.75rem;
}

.search-btn {
  background-color: #FFF243
}