.main {
  width: 40%;
  border-radius: 2px;
}

.brand {
  padding-top: 150px;
}

.brand-desc {
  padding-left: 1rem;
}

.main-search {
  margin-top: 2rem;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 0.75rem;
}

.search-btn {
  background-color: #FFF243
}